@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin no-text-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin text-select {
  -webkit-touch-callout: inherit; /* iOS Safari */
  -webkit-user-select: inherit; /* Safari */
  -khtml-user-select: inherit; /* Konqueror HTML */
  -moz-user-select: inherit; /* Old versions of Firefox */
  -ms-user-select: inherit; /* Internet Explorer/Edge */
  user-select: inherit; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin transition($time-in: 250ms, $type: ease-in-out, $time-out: 0s) {
  transition: $time-in $type $time-out;
  -moz-transition: $time-in $type $time-out;
  -webkit-transition: $time-in $type $time-out;
  -o-transition: $time-in $type $time-out;
}
